{% extends "flex/base.html" %}

{% block content %}
  {% if course.deadline %}
    <h1>Assessment List</h1>
  {% else %}
    <h1>Add assessments to course</h1>
  {% endif %}
  {% if assessment_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Default Allocation</th>
          <th>Min Allocation</th>
          <th>Max Allocation</th>
        </tr>
      </thead>
      <tbody>
        {% for assessment in assessment_list %}
          <tr>
            <td><a href="{% url 'flex:inst_assessment_detail' assessment.id %}">{{ assessment.title }}</a></td>
            <td>{{ assessment.default }}</td>
            <td>{{ assessment.min }}</td>
            <td>{{ assessment.max }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no assessments for the course.</p>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'flex:add_assessment' %}">Add new assessment</a>

  {% if not course.deadline %}
    <a class="btn btn-primary" style="float: right;" href="{% url 'flex:update_date' course.id %}">Next Step</a>
  {% else %}
    <h1 style="padding-top: 30px">Edit flexible assessment availability</h1>
    <p>{{ course.deadline }}</p>
    <a class="btn btn-primary" href="{% url 'flex:update_date' course.id %}">Edit availability</a>
  {% endif %}

{% endblock %}
