{% extends "flex/instructor/instructor_base.html" %}

{% block content %}
  <h3>Match Assessments to Canvas Assignment Groups</h3>

  <form action="" method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table class="table" style="width: 50%;">
      <caption>Match the assessment to the Canvas assignment group</caption>
      <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">Flexible Assessment</th>
          <th style="text-align: center; vertical-align: middle;">Canvas Assignment Group</th>
        </tr>
      </thead>
      <tbody>
        {% for field in form.visible_fields %}
        <tr>
          <th style="text-align: center; vertical-align: middle;">{{ field.label }}</th>
          <td style="text-align: center; vertical-align: middle;">
            {{ field.errors }}
            {{ field }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Continue">
  </form>
{% endblock %}
