{% extends "flex/instructor/instructor_base.html" %}
{% load flextags %}

{% block content %}
  <h1>Final Grade List</h1>
  {% if student_list %}
    <table class="table table-striped" style="table-layout: fixed; margin-bottom: 0;">
      <caption>Click student to edit their desired %</caption>
      <thead>
        <tr>
          <th style="width: 150px">Student</th>
          {% for assessment in course.assessment_set.all %}
            <th style="text-align: center;">{{ assessment.title }} ({% get_group_weight groups assessment.group.id %})%</th>
          {% endfor %}
          <th style="text-align: center;">Override Final Grade</th>
          <th style="text-align: center;">Default Total</th>
          <th style="text-align: center;">Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for student in student_list %}
          <tr>
            <td style="word-wrap: break-word;"><a href="">{{ student.display_name }}</a></td>
            {% for assessment in course.assessment_set.all %}
                <td style="text-align: center;">{% get_score groups assessment.group.id student.user_id %}</td>
            {% endfor %}
            <td class="override" style="text-align: center;">{% get_override_total groups student course %}</td>
            <td class="default" style="text-align: center;">{% get_default_total groups student.user_id %}</td>
            <td style="text-align: center;"><span class="difference"></span></td>
          </tr>
        {% endfor %}
        <tr>
          <td class="empty"></td>
          <th style="text-align: center;">Averages</th>
          <td style="text-align: center;"><span class="average_override"></span></td>
          <td style="text-align: center;"><span class="average_default"></span></td>
          <td style="text-align: center;"><span class="average_difference"></span></td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No students in this course have launched the app yet.</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Next</a>
        {% endif %}
    </span>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    var colspan = $('.empty').parent().prev().children().length-4
    $('.empty').attr('colspan', colspan)

    add_differences()
    calculate_average_override()
    calculate_average_default()
    calculate_average_diff()

    function add_differences() {
      $('.difference').each(function() {
        var default_str = $(this).parentsUntil('tbody').find('.default').html();
        var override_str = $(this).parentsUntil('tbody').find('.override').html();

        if (override_str != 'N/A') {
          var diff = parseFloat(override_str)-parseFloat(default_str);
          var prefix = diff > 0 ? '+' : ''
          $(this).text(prefix + diff.toFixed(2) + '%');
        } else {
          $(this).text('N/A')
        };
      });
    };

    function calculate_average_override() {
      var sum = 0;
      var count = 0;
      $('.override').each(function() {
        var override_str = $(this).html()
        if (override_str != 'N/A') {
          sum += parseFloat(override_str);
          count++
        };
      });
      var average = count != 0 ? sum/count : 0;
      $('.average_override').text(average.toFixed(2) + '%');
    };

    function calculate_average_default() {
      var sum = 0;
      var count = $('.default').length;
      $('.default').each(function() {
        sum += parseFloat($(this).html());
      });
      var average = sum/count;
      $('.average_default').text(average.toFixed(2) + '%');
    };

    function calculate_average_diff() {
      var sum = 0;
      var count = 0;
      $('.difference').each(function() {
        var diff_str = $(this).html()
        if (diff_str != 'N/A') {
          sum += parseFloat(diff_str);
          count++;
        };
      });
      var average = count != 0 ? sum/count : 0;
      var prefix = average > 0 ? '+': '';
      $('.average_difference').text(prefix + average.toFixed(2) + '%');
    };

  </script>

{% endblock %}
