{% extends "flex/instructor/instructor_base.html" %}
{% load flextags %}

{% block content %}
  <h1>Final Grade List</h1>
  {% if student_list %}
    <table class="table table-striped" style="table-layout: fixed; margin-bottom: 0;">
      <caption>Click student to edit their desired %</caption>
      <thead>
        <tr>
          <th style="width: 150px">Student</th>
          {% for assessment in course.assessment_set.all %}
          <!-- assessment.group.allocation -> groups[assessment.group.id]['group_weight'] -->
            <th style="text-align: center;">{{ assessment.title }} ({{ assessment.group.allocation }})%</th>
          {% endfor %}
          <th>Override Final Grade</th>
          <th>Default Total</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for student in student_list %}
          <tr>
            <td style="word-wrap: break-word;"><a href="">{{ student.display_name }}</a></td>
            {% for assessment in course.assessment_set.all %}
                <td style="text-align: center;">{% get_score groups assessment.group.id student.user_id %}</td>
            {% endfor %}
            {% use_default student course as ud %}
            {% if ud %}
              <td>N/A</td>
            {% else %}
              <td>{% get_override_total groups course.assessment_set.all student.user_id %}%</td>
            {% endif %}
            <td>{% get_default_total groups student.user_id %}%</td>
            {% if ud %}
              <td>N/A</td>
            {% else %}
              <td>{% get_difference groups course.assessment_set.all student.user_id %}%</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No students in this course have launched the app yet.</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Next</a>
        {% endif %}
    </span>
  </div>

{% endblock %}
