{% extends "flex/instructor/instructor_base.html" %}
{% load flextags %}


{% block content %}
  <h3>Instructor Form</h3>
  <form action="" method="post">
        {% csrf_token %}

        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        {% for hidden_field in date_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <div id="form_set">
            <table class='table table-striped' style="width: 80%; margin-bottom: 0;">
            <caption>Total default allocations should add up to 100%</caption>
                <thead>
                    <tr>
                    <th style="text-align: center;">Title</th>
                    <th style="text-align: center;">Default %</th>
                    <th style="text-align: center;">Min %</th>
                    <th style="text-align: center;">Max %</th>
                    <th style="text-align: center;">Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr height="60px">
                    {% for field in form.visible_fields %}
                            {% if form.non_field_errors and field.label == "Title" %}
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ form.non_field_errors }}
                                    {{ field.errors }}
                                    {{ field }}
                                </td>
                            {% elif field.label == "Default" %}
                                <td class="default" style="text-align: center; vertical-align: middle;">
                                    {{ field.errors }}
                                    {{ field }}
                                </td>
                            {% elif field.label == "Delete" %}
                                <td class="delete" style="text-align: center; vertical-align: middle;">
                                    {{ field.errors }}
                                    {{ field }}
                                </td>
                            {% else %}
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ field.errors }}
                                    {{ field }}
                                </td>
                            {% endif %}
                    {% endfor %}
                    <td style="text-align: center;vertical-align: middle;"><button class="btn btn-outline-danger btn-sm delete" type="button"><i class="bi bi-trash3"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-outline-primary" type="button" id="add" style="margin-bottom: 10px;"><i class="bi bi-plus-lg"></i> Assessment</button>
        <h5>Total: <span id="total"></span></h5>

        <h4 style="padding-top: 20px">Flexible assessment availability</h4>
        {{ date_form.non_field_errors }}
        <table class='table table-bordered' style="width: 10%">
            <caption>Open and close dates for flexible assessment</caption>
            <thead>
                <tr>
                    <th>Open Date</th>
                    <th>Close Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ date_form.open.errors }}
                        {{ date_form.open }}</td>
                    <td>{{ date_form.close.errors }}
                        {{ date_form.close }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'flex:instructor_home' %}" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
        <button class="btn btn-primary" type="submit"><i class="bi bi-send"></i> Submit</button>
    </form>

    <table id="empty_form" style="display:none">
        <tr>
            {% for field in formset.empty_form.visible_fields %}
                {% if field.label == "Default" %}
                    <td class="default" style="text-align: center; vertical-align: middle;">
                        {{ field.errors }}
                        {{ field }}
                    </td>
                {% elif field.label == "Delete" %}
                    <td class="delete" style="text-align: center; vertical-align: middle;">
                        {{ field.errors }}
                        {{ field }}
                    </td>
                {% else %}
                    <td style="text-align: center; vertical-align: middle;">
                        {{ field.errors }}
                        {{ field }}
                    </td>
                {% endif %}
            {% endfor %}
            <td style="text-align: center;vertical-align: middle;"><button class="btn btn-outline-danger btn-sm delete" type="button"><i class="bi bi-trash3"></i></button></td>
        </tr>
    </table>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script>
        check_total();

        $(document).on('change click', '.default', function() {
            check_total();
        });

        function check_total(){
            var total = 0;
            $(".default").each(function() {
                curr = parseFloat($(this).find("input").val());
                var to_delete = $(this).siblings('.delete').children().first().is(':checked')
                if (!isNaN(curr) && !to_delete) {
                    total += curr;
                };
            });

            total_str = total.toString();
            $('#total').text(total_str + "%");
            if (total == 100.00) {
                $('#total').css('color', 'green');
                $(":submit").removeAttr("disabled");
            } else {
                $('#total').css('color', 'red');
                $(':submit').attr("disabled", true);
            };
        };

        $('#add').click(function() {
            var form_idx = $('#id_assessment-TOTAL_FORMS').val();
            if ($('#form_set tbody').children().length == 0) {
                $('#form_set tbody').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
            } else {
                $('#form_set tr:last').after($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
            }
            $('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        $(document).on('click', '.delete', delete_row);

        function delete_row() {
            var form_idx = $('#id_assessment-TOTAL_FORMS').val();

            var tr = $(this).closest('tr');
            tr.prev('input:hidden').remove();
            tr.remove();

            $('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) - 1);
            var filtered = $('input').filter(function () {
                return this.id.match(/id_assessment-\d+-/);
            });

            curr = -1;
            decrement = false;
            filtered.each(function() {
                var form_idx = parseInt(this.id.replace(/[^\d]/g, ''));
                if (form_idx-curr > 1) {
                    decrement = true;
                };

                if (decrement) {
                    var new_id = this.id.replace(/(\d+)/, function(match, n) {
                        return parseInt(n)-1;
                    });
                    var new_name = this.name.replace(/(\d+)/, function(match, n) {
                        return parseInt(n)-1;
                    });
                    this.id = new_id;
                    this.name = new_name;
                };
                curr = form_idx;
            });
            check_total();
        };
    </script>
{% endblock %}
