{% extends "flex/instructor/instructor_base.html" %}
{% load flextags %}


{% block content %}
  <h3>Override Student Form</h3>
  <h4>Student: {{ student_name }}</h4>

  <form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    <table class="table table-striped" style="width: 80%; margin-bottom: 0;">
        <caption>All assessments should be given desired % and total flex adds up to 100%</caption>
        <thead>
          <tr>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">Desired %</th>
            <th style="text-align: center;">Default %</th>
            <th style="text-align: center;">Min %</th>
            <th style="text-align: center;">Max %</th>
          </tr>
        </thead>
        <tbody>
            {% for field in form.visible_fields %}
                {% if field.name != "comment" %}
                    <tr>
                      <th style="text-align: center;">{{ field.label }}</th>
                      <td class="flex" style="text-align: center; width: 25%;">
                          {{ field.errors }}
                          {{ field }}
                      </td>
                      {% get_default_min_max field.name as default_min_max %}
                          <td style="text-align: center;">{{ default_min_max.0 }}</td>
                          <td style="text-align: center;">{{ default_min_max.1 }}</td>
                          <td style="text-align: center;">{{ default_min_max.2 }}</td>
                    </tr>
                {% endif %}
          {% endfor %}
        </tbody>
    </table>
    <h5>Total: <span id="total"></span></h5>
    <a href="{% url 'flex:percentage_list' %}" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
    <button class="btn btn-primary" type="submit"><i class="bi bi-send"></i> Submit</button>
  </form>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    check_total();

    $(document).on('change', '.flex', function(){
        check_total();
    });

    function check_total(){
      var total = 0;
      $(".flex").each(function() {
        curr = parseFloat($(this).find("input").val());
        if (!isNaN(curr)) {
          total += curr;
        };
      });

      total_str = total.toString();
      $('#total').text(total_str + "%");
      if (total == 100.00) {
        $('#total').css('color', 'green');
      } else {
        $('#total').css('color', 'red');
      };
    };

  </script>
{% endblock %}
