canvasapi>=3.3.0
cryptography==43.0.1
Django==4.2.15
django-bootstrap5==21.3
psycopg2-binary
PyLTI1p3==2.0.0
python-dotenv==1.0.1
pytz==2022.1
requests==2.32.3
django-extensions==3.2.3
Werkzeug==2.1.2 
pyOpenSSL==22.0.0
webdriver-manager==3.8.6
selenium==4.7.2
black==23.7.0
djlint==1.32.1
pypdf==5.5.0
pandas==2.2.3