{% extends "flex/instructor/instructor_base.html" %}
{% block content %}
  <h1>Assessment Title: {{ assessment.title }}</h1>

  <p><strong>Default:</strong> {{ assessment.default }}</p>
  <p><strong>Max:</strong> {{ assessment.max }}</p>
  <p><strong>Min:</strong> {{ assessment.min }}</p>
  <p><strong>Responses:</strong> <a href="">#</a></p>

  <a class="btn btn-primary" id="insertRow" href="{% url 'flex:update_assessment' assessment.id %}">Update assessment</a>
  <a class="btn btn-danger btn-block" id="insertRow" href="{% url 'flex:delete_assessment' assessment.id %}">Delete assessment</a>
{% endblock %}