{% extends "instructor/instructor_base.html" %}
{% load instructor_tags %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block nav_item_setup %}active{% endblock nav_item_setup %} 
{% block nav_item_assessments %}active{% endblock nav_item_assessments %} 
{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mt-5 mb-5">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-6">
                <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                    <h3 class="card-header mb-0">Import Assessments</h3>
                    <div class="card-body pt-2 pb-3">
                        <input class="mt-3 form-control" type="file" name="assessments">
                        <div class="mt-3 d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}