{% extends "instructor/instructor_base.html" %}
{% load instructor_tags %}

{% block nav_item_final %}active{% endblock nav_item_final %} 
{% block content %}
<h2 class="mt-3 mb-3">Final Grade List</h2>
{% if student_list %}
	<table class="table table-striped mb-0" style="table-layout: fixed;">
		<caption>
            <div class="d-flex align-items-center justify-content-between">
                Click student to edit their desired % 
                <a class="btn btn-outline-primary btn-sm" href="{% url 'instructor:final_grades_export' course.id %}"><i class="bi bi-download"></i> Export</a>
            </div>
        </caption>
		<thead>
			<tr>
				<th class="text-center align-middle" style="width: 20%">Student</th>
				{% for assessment in course.assessment_set.all %}
					<th class="assessment text-center align-middle">{{ assessment.title }} ({% get_group_weight groups assessment.group.id %}%)</th>
				{% endfor %}
				<th class="text-center align-middle">Override Final Grade</th>
				<th class="text-center align-middle">Default Total</th>
				<th class="text-center align-middle">Difference</th>
			</tr>
		</thead>
		<tbody>
			{% for student in student_list %}
				<tr>
					<td class="text-center align-middle text-break"><a href="{% url 'instructor:override_student_form' course.id student.user_id %}">{{ student.display_name }}</a></td>
					{% for assessment in course.assessment_set.all %}
						<td class="text-center align-middle">{% get_score groups assessment.group.id student %}</td>
					{% endfor %}
                    {% get_override_default groups student course as class_override_default %}
					<td class="text-center align-middle {{ class_override_default.0 }}">{{ class_override_default.1 }}</td>
					<td class="text-center align-middle default">{{ class_override_default.2 }}</td>
					<td class="text-center align-middle"><span class="difference"></span></td>
				</tr>
			{% endfor %}
		</tbody>
        <tfoot>
            <tr>
				<td class="empty"></td>
				<th class="text-center align-middle">Averages</th>
                {% get_averages_str groups course as averages %}
				<td class="text-center align-middle">{{ averages.0 }}</td>
				<td class="text-center align-middle">{{ averages.1 }}</td>
				<td class="text-center align-middle">{{ averages.2 }}</td>
			</tr>
        </tfoot>
	</table>
    <div class="d-flex justify-content-center pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.previous_page_number }}"><i
                        class="bi bi-chevron-compact-left"></i></a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm disabled"><i class="bi bi-chevron-compact-left"></i></a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.next_page_number }}"><i
                        class="bi bi-chevron-compact-right"></i></a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm disabled"><i class="bi bi-chevron-compact-right"></i></a>
            {% endif %}
        </span>
    </div>

    <form id="grade-submit" method="post" action="{% url 'instructor:final_grades_submit' course.id %}">
        {% csrf_token %}
        <button type="submit" id="submit-button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary float-end">Submit Grades to Canvas <i class="bi bi-cloud-arrow-up"></i></button>
    </form>        
{% else %}
	<p>No students in this course have launched the app yet.</p>
{% endif %}

{% if messages %}
<ul class="messages" hidden>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	var colspan = $('.assessment').length;
	$('.empty').attr('colspan', colspan);

	add_differences();

    $('.used-default').css('color', 'gray');
    $('.used-default').css('font-style', 'italic');

    $('#submit-button').click(function(e) {
        if (confirm('Are you sure you want to submit override grades to Canvas?')) {
            $('form#grade-submit').submit();
        };
    });

    var errors = [];
    $('.error').each(function(_, error) {
        errors.push(error.textContent);
    });
    var error_str = errors.join(', ');
    if (error_str)
        alert(error_str);

	function add_differences() {
		$('.difference').each(function () {
			var default_str = $(this).parentsUntil('tbody').find('.default').html();
			var override = $(this).parentsUntil('tbody').find('.overriden');

			if (override.length) {
                var override_str = override.html();
				var diff = parseFloat(override_str) - parseFloat(default_str);
				var prefix = diff > 0 ? '+' : '';
				$(this).text(prefix + diff.toFixed(2) + '%');
			} else {
                $(this).text('0.00%');
                $(this).addClass('used-default');
			};
		});
	};


</script>

{% endblock %}