{% extends "instructor/instructor_base.html" %}
{% load instructor_tags %}

{% block nav_item_final %}active{% endblock nav_item_final %} 
{% block content %}

<div class="mt-5 mb-5">
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-11">
            <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                <div class="card-header d-flex align-items-center justify-content-between pt-3 pb-3">
                    <h3 class="mb-0">Final Grades</h3>
                    <a class="btn btn-outline-primary btn-sm" style="border-radius: 1em;" href="{% url 'instructor:final_grades_export' course.id %}"><i class="bi bi-download"></i> Export</a>
                </div>
                <div class="card-body pt-2 pb-3">
                    <table id="final" class="table table-striped mb-3 nowrap" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center align-middle" style="width: 25%; font-size: 110%;">Student</th>
                                {% for assessment in course.assessment_set.all %}
                                    <th class="assessment text-center align-middle" style="font-size: 110%;">{{ assessment.title }} <br> ({% get_group_weight groups assessment.group %}%)</th>
                                {% endfor %}
                                <th class="text-center align-middle" style="width: 5%; font-size: 110%;">Override Total</th>
                                <th class="text-center align-middle" style="width: 5%; font-size: 110%;">Default Total</th>
                                <th class="text-center align-middle" style="width: 5%; font-size: 110%;">Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in student_list %}
                                <tr>
                                    <td class="text-center align-middle text-break"><a href="{% url 'instructor:override_student_form_final' course.id student.user_id %}?previous=final">{{ student.display_name }}</a></td>
                                    {% for assessment in course.assessment_set.all %}
                                        {% get_score groups assessment.group student as score %}
                                        <td class="text-center align-middle">{{ score|default_if_none:"-" }}</td>
                                    {% endfor %}
                                    {% get_student_grades groups student course as grades %}
                                    <td class="text-center align-middle {{ grades.0 }}">{{ grades.1 }}</td>
                                    <td class="text-center align-middle default">{{ grades.2 }}</td>
                                    <td class="text-center align-middle {{ grades.0 }}">{{ grades.3 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="empty"></td>
                                <th class="text-center align-middle">Averages</th>
                                {% get_averages_str groups course as averages %}
                                <td class="text-center align-middle">{{ averages.0 }}</td>
                                <td class="text-center align-middle">{{ averages.1 }}</td>
                                <td class="text-center align-middle">{{ averages.2 }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <p class="fw-light m-0">Click on a student to edit their desired %</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <form id="grade-submit" method="post" action="{% url 'instructor:final_grades_submit' course.id %}">
                            {% csrf_token %}
                            <button type="submit" id="submit-button" class="btn btn-primary float-end">Submit Grades to Canvas <i class="bi bi-cloud-arrow-up ms-1"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
<ul class="messages" hidden>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<script>
	var colspan = $('.assessment').length;
	$('.empty').attr('colspan', colspan);


    var width = Math.floor(75/colspan);
    $('.assessment').css('width', width+'%');

    var table = $('#final').DataTable({
        scrollX: true
    });

    function format_table() {
        $('.used-default').css('color', 'gray');
        $('.used-default').css('font-style', 'italic');
	}

    $('.dataTables_scrollBody').css('overflow-y', 'hidden');

    table.draw();
    
	format_table();

    table.on('draw', format_table);

    $('#submit-button').click(function(e) {
        if (confirm('Are you sure you want to submit override grades to Canvas?')) {
            $('#submit-button').prepend('<span class="spinner-border spinner-border-sm me-2"> </span>');
            $('#submit-button').prop('disabled', true);
            $('form#grade-submit').submit();
        };
    });

    $(document).ready(function () {
        var errors = [];
        $('.error').each(function(_, error) {
            errors.push(error.textContent);
        });
        var error_str = errors.join(', ');
        if (error_str)
            alert(error_str);
    });
    

</script>

{% endblock %}