{% extends "instructor/instructor_base.html" %}
{% load instructor_tags %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block nav_item_setup %}active{% endblock nav_item_setup %} 
{% block nav_item_assessments %}active{% endblock nav_item_assessments %} 
{% block content %}
<form action="" method="post">
	{% csrf_token %}

	{{ formset.management_form }}
	{% bootstrap_formset_errors formset %}

	{% for hidden_field in date_form.hidden_fields %}
		{% bootstrap_field hidden_field %}
	{% endfor %}
    <div class="mt-5 mb-5">
        <div class="d-flex align-items-center justify-content-center" id="form_set">
            <div class="col-9">
                <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="mb-0">Assessments</h3>
                        <!-- <div class="dropdown-center">
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" style="border-radius: 1em;">Actions</button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'instructor:file_upload' course.id %}">
                                        <i class="bi bi-upload"></i> Import</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if not course.close %}disabled{% endif %}"
                                        href="{% url 'instructor:assessments_export' course.id %}">
                                        <i class="bi bi-download"></i> Export</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="card-body pt-2 pb-3">
                        <table id="assessments" class='table table-striped {% if populated %}populated{% endif %}' style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" style="width: 30%; font-size: 110%;">Title</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Default %</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Minimum %</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Maximum %</th>
                                    <th class="text-center align-middle" style="width: 12%; font-size: 110%;">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in formset.forms %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    <tr height="60px">
                                        {% for field in form.visible_fields %}
                                            <td class="{{ field.label }} text-center align-middle">
                                                {% bootstrap_field field show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center align-middle"><button class="btn btn-outline-danger btn-sm delete"
                                                type="button"><i class="bi bi-trash3"></i></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <button class="btn btn-outline-primary" type="button" id="add"><i class="bi bi-plus-lg"></i>
                                Assessment</button>
                            <h5 class="align-middle m-0">Total: <span id="total"></span></h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-light m-0">Total default allocations should add up to 100%</p>
                            <div class="form-switch">
                                {% for field in options_form.visible_fields %}
                                    {% if field.name == "ignore_conflicts" %}
                                        {{ field.as_hidden }}
                                    {% else %} 
                                        {% bootstrap_field field wrapper_class='mb-3; vertical-align: middle;' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center pt-4" id="date_form">
            <div class="col-9">
                <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                    <h4 class="card-header">Flexible assessment availability</h4>
                    <div class="card-body pt-2 pb-3">
                        <table class='table table-borderless mb-2'>
                            <tr>
                                <th class="pb-0" style="font-size: 110%;">Open Date</th>
                                <th class="pb-0" style="font-size: 110%;">Close Date</th>
                            </tr>
                            <tr>
                                <td>{% bootstrap_field date_form.open show_label=False wrapper_class='mb-3; vertical-align: middle;' %}</td>
                                <td>{% bootstrap_field date_form.close show_label=False wrapper_class='mb-3; vertical-align: middle;' %}</td>
                            </tr>
                        </table>
                        {% bootstrap_form_errors date_form type='non_fields' %}
                        <p class="fw-light m-0">Open and close dates for flexible assessment</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center pt-4">
            <div class="d-flex justify-content-between col-9">
                <a href="{% url 'instructor:instructor_home' course.id %}" style="border-radius: 1em;" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
                <div class="d-grid col-2">
                    <button class="btn btn-primary" style="border-radius: 1em;" type="submit">{% if course.close %} Update {% else %} Save {% endif %}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table id="empty_form" style="display:none">
	<tr height="60px">
		{% for field in formset.empty_form.visible_fields %}
			<td class="{{ field.label }} text-center align-middle">
				{% bootstrap_field field show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
			</td>
		{% endfor %}
		<td class="text-center align-middle"><button class="btn btn-outline-danger btn-sm delete"
				type="button"><i class="bi bi-trash3"></i></button></td>
	</tr>
</table>

{% if messages %}
<ul class="messages" hidden>
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<script>
	check_valid();

	$(document).on('change', '.Default', function () {
		check_valid();
	});

    $(document).ready(function () {
        var warnings = [];
        $('.warning').each(function(_, warning) {
            warnings.push(warning.textContent);
        });
        var warning_str = warnings.join('\n');
        if (warning_str)
            if (confirm(warning_str +  '\n Are you sure you want to reset these student allocations?')){
                $('#id_options-ignore_conflicts').val('true');
                console.log($('#id_options-ignore_conflicts'));
                $('form').submit();
            }
        if ($('#assessments').hasClass('populated'))
            alert('Assessments have been added to the form, click {% if course.close %}Update to save{% else %}Save to confirm{% endif %}.')
    });

    $(document).on('click', '#add', add_row);
	$(document).on('click', '.delete', delete_row);

	function check_valid() {
		var total = 0;
		$(".Default").each(function () {
			curr = parseFloat($(this).find("input").val());
			if (!isNaN(curr)) {
				total += curr;
			};
		});

		var total_str = total.toString();
		$('#total').text(total_str + "%");
		if (total == 100.00) {
			$('#total').css('color', 'green');
			$(":submit").removeAttr("disabled");
		} else {
			$('#total').css('color', 'red');
			$(':submit').attr("disabled", true);
		};
	};

    function add_row() {
        // Adds row from empty form to table with appropriate row id and increments number of total forms
		var form_idx = $('#id_assessment-TOTAL_FORMS').val();
		if ($('#form_set tbody').children().length == 0) {
			$('#form_set tbody').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
		} else {
			$('#form_set tr:last').after($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
		}
		$('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    };

	function delete_row() {
        if (!confirm("Are you sure you want to delete this assessment?")) {
            return false
        }
		var initial = $('#id_assessment-INITIAL_FORMS').val();
		var form_idx = $('#id_assessment-TOTAL_FORMS').val();

		var tr = $(this).closest('tr');
		var input = tr.prev('input:hidden')

        // If deleted row was an existing assessment, decrease initial form number
        // If deleted row was an empty row then initial forms (existing assessments) remains same
        // Every existing assessment has tr and a hidden input in table hence initial * 2
        if (tr.index() < initial*2)
            $('#id_assessment-INITIAL_FORMS').val(parseInt(initial) - 1);
		$('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) - 1);

        input.remove();
		tr.remove();

        // Filters for assessment inputs
		var filtered = $('input').filter(function () {
			return this.id.match(/id_assessment-\d+-/);
		});

		var curr = -1;
		var decrement = false;
		filtered.each(function () {
			form_idx = parseInt(this.id.replace(/[^\d]/g, ''));

            // Checks for gap in table row ids for assessments 
            // e.g. deleting second row in a table of four assessments means ids go from 0->2->3
			if (!decrement && form_idx - curr > 1) {
				decrement = true;
			};

            // Decrements each input element id after gap to make continuous sequence of ids (0->1->2)
			if (decrement) {
				var new_id = this.id.replace(/(\d+)/, function (match, n) {
					return parseInt(n) - 1;
				});
				var new_name = this.name.replace(/(\d+)/, function (match, n) {
					return parseInt(n) - 1;
				});
				this.id = new_id;
				this.name = new_name;
			};
			curr = form_idx;
		});
		check_valid();
	};
</script>
{% endblock %}