{% extends "instructor/instructor_base.html" %}
{% load instructor_tags %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block nav_item_setup %}
    active
{% endblock nav_item_setup %}
{% block nav_item_assessments %}
    active
{% endblock nav_item_assessments %}
{% block content %}
    <!-- This Overrides the styling automatically added by bootstrap_field for form validation -->
    <script src="{% static 'js/external/Sortable.min.js' %}"></script>
    <style>
        .form-control.is-valid {
            border-color: #ced4da;
            padding-right: initial;
            background-image: initial;
            background-repeat: initial;
            background-position: initial;
            background-size: initial;
        }

        .form-check-input.is-valid~.form-check-label {
            border-color: #ced4da;
            padding-right: initial;
            background-image: initial;
            background-repeat: initial;
            background-position: initial;
            background-size: initial;
            color: initial;
        }

        .form-check-input.is-valid:checked {
            border-color: #0d6efd;
            background-color: #0d6efd;
        }

        .form-check-input.is-valid {
            border-color: #ced4da;
        }

        .handle-td {
            height: 60px;
            vertical-align: middle;
            width: 5%;
        }

        .handle {
            display: block;
            float: inline-end;
            border-top: 3px solid #ABB0B8;
            width: 30px;
            padding-top: 5px;
            cursor: grab;
        }
        .handle:after{
            display: block;
            content: "";
            padding-top: 5px;
            border-top: 3px solid #ABB0B8;
        }
        .handle:before {
            display: block;
            content: "";
            padding-top: 5px;
            border-top: 3px solid #ABB0B8;
        }

        .handle:hover, .handle:hover:before, .handle:hover:after {
            border-color: #4C4E52;
        }
        .handle:active, .handle:active:before, .handle:active:after {
            cursor: grabbing;
        }
    </style>
    <form action=""
          method="post"
          data-changed="false"
          onsubmit="return confirmSubmission(this);">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for hidden_field in date_form.hidden_fields %}
            {% bootstrap_field hidden_field %}
        {% endfor %}
        <input type="hidden" id="added-deleted-form" value="false">
        <div class="mt-5 mb-5">
            <div class="d-flex align-items-center justify-content-center"
                 id="welcome_form">
                <div class="col-9">
                    <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                        <h3 class="card-header">Welcome Instructions</h3>
                        <div class="card-body pt-2 pb-3">
                            <p class="fw-light m-0 pb-1">
                                This is a message that will appear at the top of the students' screens where they decide their weights.
                            </p>
                            {% bootstrap_field date_form.welcome_instructions show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center pt-4"
                 id="form_set">
                <div class="col-9">
                    <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h3 class="mb-0">Assessments</h3>
                            <!-- <div class="dropdown-center">
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" style="border-radius: 1em;">Actions</button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'instructor:file_upload' course.id %}">
                                        <i class="bi bi-upload"></i> Import</a>
                                </li>
                                <li>
                                    <a class="dropdown-item {% if not course.close %}disabled{% endif %}" href="{% url 'instructor:assessments_export' course.id %}">
                                        <i class="bi bi-download"></i> Export</a>
                                </li>
                            </ul>
                        </div> -->
                        </div>
                        <div class="card-body pt-2 pb-3">
                            <p class="fw-light m-0 pb-1">
                                Click the <b style="font-weight: bold">+Assessment</b> button to add all of the assessments in your course. If you have several assessments within a category, enter the category name (e.g. Quizzes, Discussions) unless you want to make the individual assessments within the category flexible.
                                The <b style="font-weight: bold;">Default %</b> will be used for students who do not enter desired percentages. The <b style="font-weight: bold;">Minimum %</b> and <b style="font-weight: bold;">Maximum %</b> values define the range of weights students will be able to enter.
                                If you do not want an assessment to be flexible, enter the same value for the Default %, Minimum % and Maximum %. The default values for all assessments <u>must add up to 100%</u>.
                            </p>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="fw-light m-0">{% bootstrap_formset_errors formset %}</p>
                            </div>
                            <table id="assessments"
                                   class='table table-striped {% if populated %}populated{% endif %}'
                                   style="table-layout: fixed">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;"></th>
                                        <th class="text-center align-middle" style="width: 30%; font-size: 110%;">
                                            Assessment
                                        </th>
                                        <th class="text-center align-middle" style="font-size: 110%;">Default %</th>
                                        <th class="text-center align-middle" style="font-size: 110%;">Minimum %</th>
                                        <th class="text-center align-middle" style="font-size: 110%;">Maximum %</th>
                                        <th class="text-center align-middle" style="width: 12%; font-size: 110%;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="forms">
                                    {% for form in formset.forms %}
                                        <tr height="60px">
                                            <td class="handle-td">
                                                <span class="handle"></span>
                                            </td>
                                            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                            {% for field in form.visible_fields %}
                                                <td class="{{ field.label }} text-center align-middle">
                                                    {% bootstrap_field field show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                                                </td>
                                            {% endfor %}
                                            <td class="text-center align-middle">
                                                <button class="btn btn-outline-danger btn-sm delete" type="button">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <button class="btn btn-outline-primary" type="button" id="add">
                                    <i class="bi bi-plus-lg"></i>Assessment
                                </button>
                                <h5 class="align-middle m-0">
                                    Total: <span id="total"></span>
                                </h5>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="fw-light m-0 pb-1">
                                    Select both of these options to hide incorrect weights and calculations in Canvas Grades
                                </p>
                                {% bootstrap_field options_form.hide_weights wrapper_class="mb-1" %}
                                {% bootstrap_field options_form.hide_total wrapper_class="mb-1" %}
                            </div>
                            {{ options_form.ignore_conflicts.as_hidden }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center pt-4"
                 id="comment_form">
                <div class="col-9">
                    <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                        <h3 class="card-header">Comment Instructions</h3>
                        <div class="card-body pt-2 pb-3">
                            <p class="fw-light m-0 pb-1">
                                This is a message that will appear above the box where students put their comments.
                            </p>
                            {% bootstrap_field date_form.comment_instructions show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                        </div>
                        {{ ordering_form }}
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center pt-4"
                 id="date_form">
                <div class="col-9">
                    <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                        <h4 class="card-header">Availability</h4>
                        <div class="card-body pt-2 pb-3">
                            <p class="fw-light m-0">
                                These are the dates for when students will be able to enter their desired percentages.
                            </p>
                            <table class='table table-borderless mb-2'>
                                <tr>
                                    <th class="pb-0" style="font-size: 110%;">Open Date</th>
                                    <th class="pb-0" style="font-size: 110%;">Close Date</th>
                                </tr>
                                <tr>
                                    <td>
                                        {% bootstrap_field date_form.open show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                                    </td>
                                    <td>
                                        {% bootstrap_field date_form.close show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                                    </td>
                                </tr>
                            </table>
                            {% bootstrap_form_errors date_form type='non_fields' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center pt-4">
                <div class="d-flex justify-content-between col-9 pb-4">
                    <a href="{% url 'instructor:instructor_home' course.id %}"
                       style="border-radius: 1em"
                       class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
                    <div class="d-grid col-2">
                        <button class="btn btn-primary" style="border-radius: 1em;" type="submit">
                            {% if course.close %}
                                Update
                            {% else %}
                                Save
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table id="empty_form" style="display:none">
        <tr height="60px">
            <td class="handle-td">
                <span class="handle"></span>
            </td>
            {% for field in formset.empty_form.visible_fields %}
                <td class="{{ field.label }} text-center align-middle">
                    {% bootstrap_field field show_label=False wrapper_class='mb-3; vertical-align: middle;' %}
                </td>
            {% endfor %}
            <td class="text-center align-middle">
                <button class="btn btn-outline-danger btn-sm delete" type="button">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
        </tr>
    </table>
    {% if messages %}
        <ul class="messages" hidden>
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script>
    // Add event listener for beforeunload event
    window.addEventListener("beforeunload", function (event) {
        // If the form has been changed, prompt the user to confirm leaving the page
        if (document.forms[0].dataset.changed === "true") {
            event.preventDefault();
            event.returnValue = ""; // Required for Chrome
        }
    });

    function confirmSubmission(form) {
        //alert($('#form_set tbody tr').children()[0].innerHTML);
        $('#form_set tbody tr').each(function() {
            if ($(this).children().length == 7) {
                if (!$(this).children().eq(5).find("input").val() && !$(this).children().eq(4).find("input").val()) {
                    $(this).children().eq(4).find("input").val($(this).children().eq(3).find("input").val());
                    $(this).children().eq(5).find("input").val($(this).children().eq(3).find("input").val());
                }
            }
            else {
                if (!$(this).children().eq(4).find("input").val() && !$(this).children().eq(3).find("input").val()) {
                    $(this).children().eq(3).find("input").val($(this).children().eq(2).find("input").val());
                    $(this).children().eq(4).find("input").val($(this).children().eq(2).find("input").val());
                }
            }
        });
        var courseClosed = {{ course.close|yesno:"true,false" }}; // Also check if this is the first time setting up the assessments
        var numResponses = parseInt({% get_number_responses course %});
        var total = calculate_total();
        saveOrdering();
        if (total == 0) {
            if (confirm("Your total adds up to 0. If you click OK, this course’s Flexible Assessment setup and all student choices and comments will be deleted.")) {
                form.action += "?reset=true";
                document.forms[0].dataset.changed = "false";
                return true;
            }
            return false;
        }
        else if ($('#added-deleted-form').val() === "true" && numResponses > 0) {
            if (confirm("You changed your assessments. If you click OK, all student choices and comments will be deleted.")) {
                document.forms[0].dataset.changed = "false";
                return true;
            }
            return false;
        } else {
            document.forms[0].dataset.changed = "false";
            return true;
        }
    };

	check_valid();


    $(document).ready(function () {
        var warnings = [];
        $('.warning').each(function(_, warning) {
            warnings.push(warning.textContent);
        });
        var warning_str = warnings.join('\n');
        if (warning_str)
            if (confirm(warning_str +  '\n Are you sure you want to reset these student allocations?')){
                $('#id_options-ignore_conflicts').val('true');
                console.log($('#id_options-ignore_conflicts'));
                $('form').submit();
            }
        if ($('#assessments').hasClass('populated'))
            alert('Assessments have been added to the form, click {% if course.close %}Update to save{% else %}Save to confirm{% endif %}.')
    });

    $(document).on('click', '#add', add_row);
	$(document).on('click', '.delete', delete_row);

    function calculate_total() {
        var total = 0;
		$(".Default").each(function() {
			curr = parseFloat($(this).find("input").val());
			if (!isNaN(curr)) {
				total += curr;
			};
		});
        total = total.toFixed(2);
        return total;
    }

	function check_valid() {
        saveOrdering();
        total = calculate_total();
		var total_str = total.toString();
		$('#total').text(total_str + "%");
		if (total == 100.00) {
			$('#total').css('color', 'green');
		} else {
			$('#total').css('color', 'red');
		};
	};

    $(document).on('change', '.Default', function() {
		check_valid();
        document.forms[0].dataset.changed = "true";
	});

    function add_row() {
        $('#added-deleted-form').val('true');
        // Adds row from empty form to table with appropriate row id and increments number of total forms
		var form_idx = $('#id_assessment-TOTAL_FORMS').val();
		if ($('#form_set tbody').children().length == 0) {
			$('#form_set tbody').append($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
		} else {
			$('#form_set tr:last').after($('#empty_form').html().replace(/__prefix__/g, form_idx).replace(/<tbody>|<\/tbody>/g, ''));
		}
		$('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    };

	function delete_row() {
        $('#added-deleted-form').val('true');
		var initial = $('#id_assessment-INITIAL_FORMS').val();
		var form_idx = $('#id_assessment-TOTAL_FORMS').val();

		var tr = $(this).closest('tr');
		var input = tr.prev('input:hidden')

        // If deleted row was an existing assessment, decrease initial form number
        // If deleted row was an empty row then initial forms (existing assessments) remains same
        if (tr.index() < initial)
            $('#id_assessment-INITIAL_FORMS').val(parseInt(initial) - 1);
		$('#id_assessment-TOTAL_FORMS').val(parseInt(form_idx) - 1);

        //input.remove();
        raw_id = tr.find('input').attr('id');
        id_removed = parseInt(raw_id.replace(/\D/g, ''))
		tr.remove();

        // Filters for assessment inputs
		var filtered = $('input').filter(function() {
			return this.id.match(/id_assessment-\d+-/);
		});

		//var curr = -1;
		var decrement = false;
		filtered.each(function() {
			form_idx = parseInt(this.id.replace(/[^\d]/g, ''));

            // Checks for gap in table row ids for assessments 
            // e.g. deleting second row in a table of four assessments means ids go from 0->2->3
			if (id_removed < form_idx) {
				decrement = true;
			};

            // Decrements each input element id after gap to make continuous sequence of ids (0->1->2)
			if (decrement) {
				var new_id = this.id.replace(/(\d+)/, function(match, n) {
					return parseInt(n) - 1;
				});
				var new_name = this.name.replace(/(\d+)/, function(match, n) {
					return parseInt(n) - 1;
				});
				this.id = new_id;
				this.name = new_name;
			};
			//curr = form_idx;
            decrement = false;
		});
		check_valid();
	};
    //Identifies the sortable elements of the table for Sortable.min.js
    const groups = document.getElementById('forms');
    let sortable = Sortable.create(groups, {
        handle: '.handle',
    });

    //Function to save the current order to the ordering form
    function saveOrdering() {
        //Gets all rows and respective ids
        const rows = document.getElementById("forms").querySelectorAll('tr');
        let ids_list = [];
        //Adds ids in the current order to the form
        for (let row of rows) {
            raw_id = $(row).find('input').attr('id');
            ids_list.push(parseInt(raw_id.replace(/\D/g, '')));
        }
        $("#id_ordering-ordering").val(ids_list.toString());

    }
    </script>
{% endblock %}
