<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet"
              type="text/css"
              href="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/datatables.min.css" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>
            /* This hides the input buttons for number forms. */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            
            input[type="number"] {
              -moz-appearance: textfield;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row min-vh-100">
                <div class="col-sm-2 shadow-sm">
                    <div class="pt-5 pb-3">
                        <h4 class="text-center text-dark text-break m-0">
                            Course:
                            <br>
                            <b>{{ course.title }}</b>
                        </h4>
                        <h4 class="text-center text-dark text-break m-0 pt-3">
                            User:
                            <br>
                            <b>{{ request.session.display_name }}</b>
                        </h4>
                    </div>
                    <hr>
                    {% block sidebar %}
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link {% block nav_item_home %}{% endblock nav_item_home %}"
                               href="{% url 'instructor:instructor_home' course.id %}"><i class="bi bi-house me-2"></i> Home</a>
                            {% if course.close %}
                            <a class="nav-link {% block nav_item_assessments %}{% endblock nav_item_assessments %}"
                               href="{% url 'instructor:instructor_form' course.id %}"><i class="bi bi-journals me-2"></i>
                        Assessments</a>
                    <a class="nav-link {% block nav_item_percentages %}{% endblock nav_item_percentages %}"
                       href="{% url 'instructor:percentage_list' course.id %}"><i class="bi bi-percent me-2"></i>
                Student Choices</a>
                <a class="nav-link {% block nav_item_final %}{% endblock nav_item_final %}"
                   href="{% url 'instructor:group_form' course.id %}"><i class="bi bi-check2 me-2"></i> Final Grades</a>
            {% else %}
                <a class="nav-link {% block nav_item_setup %}{% endblock nav_item_setup %}"
                   href="{% url 'instructor:instructor_form' course.id %}"><i class="bi bi-tools me-2"></i> Assessments</a>
            {% endif %}
            <hr>
            <a class="nav-link {% block nav_item_about %}{% endblock nav_item_about %}"
               href="https://lc.landfood.ubc.ca/flex/"
               target="_blank"
               rel="noopener noreferrer"><i class="bi bi-info-circle me-2"></i> About</a>
            <a class="nav-link {% block nav_item_help %}{% endblock nav_item_help %}"
               href="{% url 'instructor:instructor_help' course.id %}"><i class="bi bi-question-circle me-2"></i> Help</a>
        </nav>
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<div class="col-sm-10 p-0">
    {% block content %}{% endblock %}
</div>
</div>
</div>
</body>
</html>
