{% extends "flex/student/student_base.html" %}

{% block content %}
  {% if course.deadline %}
    <h1>Assessment List</h1>
  {% else %}
    <h1>Add assessments to course</h1>
  {% endif %}
  {% if flex_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Assessment Title</th>
          <th>Desired %</th>
          <th>Default %</th>
          <th>Min %</th>
          <th>Max %</th>
        </tr>
      </thead>
      <tbody>
        {% for flex_assessment in flex_list %}
          <tr>
            <td><a href="{% url 'flex:update_flex' flex_assessment.id %}">{{ flex_assessment.assessment.title }}</a></td>
            <td>{{ flex_assessment.flex }}</td>
            <td>{{ flex_assessment.assessment.default }}</td>
            <td>{{ flex_assessment.assessment.min }}</td>
            <td>{{ flex_assessment.assessment.max }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no assessments for the course.</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm disabled">Next</a>
        {% endif %}
    </span>
  </div>

  {% if course.deadline %}
    <h4 style="padding-top: 20px">Remaining Flex Allocation</h4>
    <p>{{ flex_remainder }}%</p>
    <h4 style="padding-top: 10px">Flexible assessment due date</h4>
    <p>{{ course.deadline }}</p>
  {% endif %}

{% endblock %}
