{% extends "accommodations/accommodations_base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
    <style>
        input[type=checkbox][disabled] {
            filter: invert(15%);
        }
    </style>
    <div class="container my-4">
        <h2 class="text-center">Accommodations</h2>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10 col-md-12">
                <form id="accommodations-confirm-form"
                      method="post"
                      action="{% url 'accommodations:accommodations_confirm' course.id %}">
                    {% csrf_token %}
                    <h4>Confirm Accommodations for Multiplier Groups</h4>
                    <label class="form-label my-3">
                        Verify the accommodations listed. If a student's time limit after applying accommodations is longer than the current availability window, that student will be assigned a new availability window with an extended end date.
                    </label>
                    <div class="row g-3">
                        {% for multiplier, students in multiplier_student_groups %}
                            <div class="card shadow-sm mb-4 px-0"
                                 style="border-radius: 1em;
                                        overflow: hidden">
                                <div class="card-header p-0">
                                    <div class="w-100 px-3 py-2">
                                        <h3 class="mb-0">{{ multiplier }}x Time Multiplier</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Student Table -->
                                    <h5>Students:</h5>
                                    <table class="table table-bordered table-sm mt-2"
                                           style="table-layout: fixed">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Student ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student_id, student_name, _ in students %}
                                                <tr>
                                                    <td>{{ student_name }}</td>
                                                    <td>{{ student_id }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Quiz Table -->
                                    <h5 class="mt-4">Quizzes:</h5>
                                    <table class="table table-bordered table-sm mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Title</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Time Limit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for mult, quizzes in multiplier_quiz_groups.items %}
                                                {% if mult == multiplier %}
                                                    {% for quiz in quizzes %}
                                                        <tr>
                                                            <td>
                                                                <a href="{{ quiz.url }}" target="_blank">{{ quiz.title }}</a>
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.unlock_at_readable %}text-muted {% endif %}">
                                                                    {{ quiz.unlock_at_readable|default:"No time set" }}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.lock_at_readable %}text-muted {% endif %}">
                                                                    {{ quiz.lock_at_readable|default:"No time set" }}
                                                                </span>
                                                                {% if quiz.lock_at_new_readable %}
                                                                    <i class="bi bi-arrow-right"></i> <span class="text-muted">{{ quiz.lock_at_new_readable }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.time_limit_readable %}text-muted {% endif %}">
                                                                    {{ quiz.time_limit_readable|default:"No time limit set" }}
                                                                </span>
                                                                {% if quiz.time_limit_new_readable %}
                                                                    <i class="bi bi-arrow-right"></i> <span class="text-muted">{{ quiz.time_limit_new_readable }}</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Hide existing accommodation table and override/ignore form for now - may implement in future depending on feedback -->
                        {% if existing_accommodations and include_existing_acommodations %}
                            <div class="card shadow-sm mb-4 px-0"
                                 style="border-radius: 1em;
                                        overflow: hidden">
                                <div class="card-header p-0">
                                    <div class="w-100 px-3 py-2">
                                        <h3 class="mb-0">Existing Accommodations</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>The following accommodations have already been set:</p>
                                    <!-- Existing Accommodation Table -->
                                    <table class="table table-bordered table-sm mt-2"
                                           style="table-layout: fixed">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Student Name</th>
                                                <th>Student ID</th>
                                                <th>Quiz Title</th>
                                                <th>Override Start Date</th>
                                                <th>Override End Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for acc in existing_accommodations %}
                                                <tr>
                                                    <td>{{ acc.display_name }}</td>
                                                    <td>{{ acc.login_id }}</td>
                                                    <td>
                                                        <a href="{{ acc.url }}">{{ acc.title }}</a>
                                                    </td>
                                                    <td>
                                                        <span class="{% if not acc.unlock_at_override_readable %}text-muted {% endif %}">
                                                            {{ acc.unlock_at_override_readable|default:"No time set" }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="{% if not acc.lock_at_override_readable %}text-muted {% endif %}">
                                                            {{ acc.lock_at_override_readable|default:"No time set" }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <input type="radio" name="choice" id="override" value="override" checked>
                                    <label for="override">Override</label>
                                    <input type="radio" name="choice" id="ignore" value="ignore" class="ms-2">
                                    <label for="ignore">Ignore</label>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column align-items-center my-4">
                        <div class="d-flex align-items-start mb-3" style="min-width: 400px;">
                            <div class="me-2" style="width: 1.5rem;">
                                <input class="form-check-input mt-1"
                                       type="checkbox"
                                       id="confirmed-correct"
                                       name="confirmed-correct"
                                       value="confirmed-correct"
                                       required>
                            </div>
                            <label class="form-check-label" for="confirmed-correct">
                                I have confirmed that the above accommodations are correct.
                            </label>
                        </div>
                        <div class="d-flex align-items-start" style="min-width: 400px;">
                            <div class="me-2" style="width: 1.5rem;">
                                <input class="form-check-input mt-1"
                                       type="checkbox"
                                       id="confirmed-overwrite"
                                       name="confirmed-overwrite"
                                       value="confirmed-overwrite"
                                       required>
                            </div>
                            <label class="form-check-label" for="confirmed-overwrite">
                                I understand that submitting may overwrite any existing accommodations.
                            </label>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="mt-4 d-flex justify-content-between py-0 my-0">
                        <!-- Back button using JavaScript -->
                        <button type="button"
                                class="btn btn-secondary"
                                onclick="window.location.href='{% url 'accommodations:accommodations_quizzes' course.id %}'">
                            <i class="bi bi-arrow-left me-1"></i>
                            Back
                        </button>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">
                            Submit <i class="bi bi-upload ms-2"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if messages %}
        <ul class="messages" hidden>
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script></script>
{% endblock %}
