{% extends "accommodations/accommodations_base.html" %}
{% load django_bootstrap5 %}
{% load accommodations_tags %}
{% bootstrap_messages %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
    <style>
        input[type=checkbox][disabled] {
            filter: invert(15%);
        }
    </style>
    <div class="container my-4">
        <h2 class="text-center">Accommodations</h2>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10 col-md-12">
                <form id="restart-form"
                      method="post"
                      action="{% url 'accommodations:accommodations_summary' course.id %}">
                    {% csrf_token %}
                    <h4>Summary of Applied Accommodations for Multiplier Groups</h4>
                    <label class="form-label my-3">Verify that the accommodations listed have been applied correctly.</label>
                    <div class="row g-3">
                        {% if show_warning %}
                        <div class="card shadow-sm mb-4 px-0"
                                 style="border-radius: 1em;
                                        overflow: hidden;
                                        border: 2px solid red">
                            <div class="card-header p-0">
                                <div class="w-100 px-3 py-2">
                                    <h4 class="mb-0">🚨 Warning - Please review the following unique accommodations</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-sm mt-2"
                                        style="table-layout: fixed">
                                    <thead class="table-light">
                                        <tr class="align-middle">
                                            <th>Name</th>
                                            <th>Student ID</th>
                                            <th>Current extended time</th>
                                            <th>Extended time only for essay format</th>
                                            <th>Extended time only for multipler choice format</th>
                                            <th>CFA Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for multiplier, students in multiplier_student_groups %}
                                            {% for student_id, student_name, _, additional_info in students %}
                                                {% with note_parts=additional_info|split:"^" %}
                                                {% if note_parts.0 != "" or note_parts.1 != "" or note_parts.2 != "" %}
                                                    <tr>
                                                        <td>{{ student_name }}</td>
                                                        <td>{{ student_id }}</td>
                                                        <td class="text-success">
                                                            {{ multiplier }}x
                                                            <i class="bi bi-check-lg"></i>
                                                        </td>
                                                        {% if note_parts.0 == "" %}
                                                            <td class="text-muted">N/A</td>
                                                        {% else %}
                                                            <td class="text-danger">
                                                                {{note_parts.0}}x
                                                            </td>
                                                        {% endif %}

                                                        {% if note_parts.1 == "" %}
                                                            <td class="text-muted">N/A</td>
                                                        {% else %}
                                                            <td class="text-danger">
                                                                {{note_parts.1}}x
                                                            </td>
                                                        {% endif %}
                                                        
                                                        {% if note_parts.2 == "" %}
                                                            <td class="text-muted">N/A</td>
                                                        {% else %}
                                                            <td class="">
                                                                {{note_parts.2}}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <h5 class="mt-2">Quick Quiz Links:</h5>
                                <div class="d-flex flex-wrap gap-3">
                                    {% for quiz in selected_quizzes %}
                                        <div>
                                            {% if quiz.is_new_quiz %}
                                                <i class="bi bi-rocket-takeoff-fill me-1 text-success"></i>
                                            {% else %}
                                                <i class="bi bi-rocket-takeoff me-1 text-success"></i>
                                            {% endif %}
                                            <a href="{{ quiz.url }}" target="_blank">{{ quiz.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% for multiplier, students in multiplier_student_groups %}
                            <div class="card shadow-sm mb-4 px-0"
                                 style="border-radius: 1em;
                                        overflow: hidden">
                                <div class="card-header p-0">
                                    <div class="w-100 px-3 py-2">
                                        <h3 class="mb-0">{{ multiplier }}x Time Multiplier</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Student Table -->
                                    <h5>Students:</h5>
                                    <table class="table table-bordered table-sm mt-2"
                                           style="table-layout: fixed">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Student ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student_id, student_name, _, _ in students %}
                                                <tr>
                                                    <td>{{ student_name }}</td>
                                                    <td>{{ student_id }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Quiz Table -->
                                    <h5 class="mt-4">Quizzes:</h5>
                                    <table class="table table-bordered table-sm mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Title</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Time Limit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for mult, quizzes in multiplier_quiz_groups_results.items %}
                                                {% if mult == multiplier %}
                                                    {% for quiz in quizzes %}
                                                        <tr>
                                                            <td>
                                                                <div>
                                                                    {% if quiz.is_new_quiz %}
                                                                        <i class="bi bi-rocket-takeoff-fill me-1 text-success"></i>
                                                                    {% else %}
                                                                        <i class="bi bi-rocket-takeoff me-1 text-success"></i>
                                                                    {% endif %}
                                                                    <a href="{{ quiz.url }}" target="_blank">{{ quiz.title }}</a>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.unlock_at_readable %}text-muted {% endif %}">
                                                                    {{ quiz.unlock_at_readable|default:"No date set" }}
                                                                </span>
                                                                {% if quiz.unlock_at_new_readable %}
                                                                    <i class="bi bi-arrow-right"></i>
                                                                    <span class="{% if quiz.unlock_at_status == 'success' %}text-success{% else %}text-danger{% endif %}">{{ quiz.unlock_at_new_readable }}</span>
                                                                    <i class="bi {% if quiz.unlock_at_status == 'success' %}bi-check-lg text-success{% else %}bi-x-lg text-danger{% endif %}"></i>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.lock_at_readable %}text-muted {% endif %}">
                                                                    {{ quiz.lock_at_readable|default:"No date set" }}
                                                                </span>
                                                                {% if quiz.lock_at_new_readable %}
                                                                    <i class="bi bi-arrow-right"></i>
                                                                    <span class="{% if quiz.lock_at_status == 'success' %}text-success{% else %}text-danger{% endif %}">{{ quiz.lock_at_new_readable }}</span>
                                                                    <i class="bi {% if quiz.lock_at_status == 'success' %}bi-check-lg text-success{% else %}bi-x-lg text-danger{% endif %}"></i>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="{% if not quiz.time_limit_readable %}text-muted {% endif %}">
                                                                    {{ quiz.time_limit_readable|default:"No time limit set" }}
                                                                </span>
                                                                {% if quiz.time_limit_new_readable %}
                                                                    <i class="bi bi-arrow-right"></i> <span class="{% if quiz.time_limit_status == 'success' %}text-success{% else %}text-danger{% endif %}">{{ quiz.time_limit_new_readable }}</span>
                                                                    <i class="bi {% if quiz.time_limit_status == 'success' %}bi-check-lg text-success{% else %}bi-x-lg text-danger{% endif %}"></i>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Buttons -->
                    <div class="mt-4 d-flex justify-content-between py-0 my-0">
                        <!-- Back button -->
                        <button type="button"
                                class="btn btn-secondary"
                                onclick="window.location.href='{% url 'accommodations:accommodations_confirm' course.id %}'">
                            <i class="bi bi-arrow-left me-1"></i>
                            Back
                        </button>
                        <!-- Next button -->
                        <button type="submit" class="btn btn-primary">
                            Restart <i class="bi bi-arrow-clockwise ms-2"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if messages %}
        <ul class="messages" hidden>
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script></script>
{% endblock %}
