{% extends "student/student_base.html" %}
{% load student_tags %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block nav_item_assessments %}active{% endblock nav_item_assessments %} 
{% block content %}
<h2 class="mt-3 mb-3">Student Form</h2>

<form action="" method="post">
    {% csrf_token %}

    {% bootstrap_form_errors form type='non_fields' %}

    {% for hidden_field in form.hidden_fields %}
        {% bootstrap_field hidden_field %}
    {% endfor %}

    <div class="col-9">
        <table class="table table-striped mb-0" style="table-layout: fixed;">
            <caption>All assessments should be given desired % and total flex adds up to 100%</caption>
            <thead>
                <tr>
                    <th class="text-center align-middle" style="width: 30%;">Title</th>
                    <th class="text-center align-middle">Desired %</th>
                    <th class="text-center align-middle">Default %</th>
                    <th class="text-center align-middle">Min %</th>
                    <th class="text-center align-middle">Max %</th>
                </tr>
            </thead>
            <tbody>
                {% for field in form.visible_fields %}
                    {% if field.name != "comment" %}
                        <tr height="60px">
                            <td class="text-center align-middle">{{ field.label }}</td>
                            <td class="flex text-center align-middle" style="text-align: center; width: 25%;">
								{% bootstrap_field field show_label=False placeholder='' wrapper_class='mb-3; vertical-align: middle;' %}
                            </td>
                            {% get_default_min_max field.name as default_min_max %}
                            <td class="text-center align-middle">{{ default_min_max.0 }}</td>
                            <td class="text-center align-middle">{{ default_min_max.1 }}</td>
                            <td class="text-center align-middle">{{ default_min_max.2 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
			</tbody>
            <tfoot>
                <tr>
                    <th class="text-center align-middle">Total</th>
                    <th class="text-center align-middle"><span id="total"></span></th>
                    <td colspan="3"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-5">
        <h4>Comment for allocation</h4>
        <p>{% bootstrap_field form.comment show_label=False placeholder='' wrapper_class='mb-0' %}</p>
    </div>
    <div class="row">
        <h4>Flexible assessment availability</h4>
        <p>{{ course.open }} - {{ course.close }}</p>
    </div>
    {% not_open course as no %}
    <div class="d-flex align-items-center justify-content-between col-9">
        <a href="{% url 'student:student_home' course.id %}" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
        <div class="d-grid col-2">
            <button class="btn btn-primary" type="submit" {% if no %} disabled {% endif %}><i class="bi bi-send"></i> Submit</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    pre_disabled = $(':submit').attr('disabled')
    check_total();

    $(document).on('change', '.flex', function () {
        check_total();
    });

    function check_total() {
        var total = 0;
        $(".flex").each(function () {
            curr = parseFloat($(this).find("input").val());
            if (!isNaN(curr)) {
                total += curr;
            };
        });

        var total_str = total.toString();
        $('#total').text(total_str + "%");
        if (total == 100.00) {
            $('#total').css('color', 'green');
            if (!pre_disabled) {
                $(":submit").removeAttr("disabled");
            };
        } else {
            $('#total').css('color', 'red');
            if (!pre_disabled) {
                $(':submit').attr("disabled", true);
            };
        };
    };

</script>
{% endblock %}