{% extends "student/student_base.html" %}
{% load student_tags %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block nav_item_assessments %}active{% endblock nav_item_assessments %} 
{% block content %}

<form action="" method="post">
    {% csrf_token %}

    {% bootstrap_form_errors form type='non_fields' %}

    {% for hidden_field in form.hidden_fields %}
        {% bootstrap_field hidden_field %}
    {% endfor %}

    <div class="mt-5 mb-5">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-9">
                <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                    <h3 class="card-header">Assessments</h3>
                    <div class="card-body pt-2 pb-3">
                        <table class="table table-striped mb-2" style="table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" style="width: 30%; font-size: 110%;">Title</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Desired %</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Default %</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Minimum %</th>
                                    <th class="text-center align-middle" style="font-size: 110%;">Maximum %</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in form.visible_fields %}
                                    {% if field.name != "comment" and field.name != "agreement" %}
                                        <tr height="60px">
                                            <td class="text-center align-middle">{{ field.label }}</td>
                                            <td class="flex text-center align-middle" style="text-align: center; width: 25%;">
                                                {% bootstrap_field field show_label=False placeholder='' wrapper_class='mb-3; vertical-align: middle;' %}
                                            </td>
                                            {% get_default_min_max field.name as default_min_max %}
                                            <td class="text-center align-middle">{{ default_min_max.0 }}</td>
                                            <td class="text-center align-middle">{{ default_min_max.1 }}</td>
                                            <td class="text-center align-middle">{{ default_min_max.2 }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center align-middle">Total</th>
                                    <th class="text-center align-middle"><span id="total"></span></th>
                                    <td colspan="3"></td>
                                </tr>
                            </tfoot>
                        </table>
                        <p class="fw-light mt-0 mb-1">All assessments should be given desired % and total flex adds up to 100%</p>
                        {% bootstrap_field form.agreement wrapper_class='mb-0 mt-2' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center pt-4">
            <div class="col-9">
                <div class="card shadow-sm" style="border-radius: 1em; overflow:hidden;">
                    <h3 class="card-header">Comment</h3>
                    <div class="card-body pt-2 pb-3">
                        <div class="d-flex align-items-center justify-content-between fw-light mt-1">
                            <p class="mb-0">Give a comment for your desired allocation</p>
                            <p class="mb-0" style="color: gray;"><i>Optional</i></p>
                        </div>
                        <p>{% bootstrap_field form.comment show_label=False placeholder='' wrapper_class='mb-0' %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center mt-4">
            <h4>Flexible assessment availability</h4>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-2">
            <p class="fs-6">{{ course.open }} - {{ course.close }}</p>
        </div>

        {% not_open course as no %}
        <div class="d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-between col-9">
                <a href="{% url 'student:student_home' course.id %}" style="border-radius: 1em;" class="btn btn-secondary"><i class="bi bi-chevron-left"></i> Back</a>
                <div class="d-grid col-2">
                    <button class="btn btn-primary" style="border-radius: 1em;" type="submit" {% if no %} disabled {% endif %}>Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    var pre_disabled = $(':submit').attr('disabled')
    check_valid();

    $(document).on('change', '.flex', function () {
        check_valid();
    });

    $(document).on('change', '#id_agreement', function () {
        check_valid();
    });

    function check_valid() {
        var total = 0;
        $(".flex").each(function () {
            curr = parseFloat($(this).find("input").val());
            if (!isNaN(curr)) {
                total += curr;
            };
        });

        var total_str = total.toString();
        $('#total').text(total_str + "%");

        var checked = $('#id_agreement').is(':checked');

        if (total == 100.00) {
            $('#total').css('color', 'green');
        } else {
            $('#total').css('color', 'red');
        };
        if (total == 100.00 && checked && !pre_disabled) {
            $(":submit").removeAttr("disabled");
        } else {
            $(":submit").attr("disabled", true);
        }
    };

</script>
{% endblock %}